{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-use-before-define": "off",
    "object-curly-spacing": "off",
    "quote-props": "off",
    "arrow-parens": "off",
    "operator-linebreak": "off",
    "no-param-reassign": "off",
    "object-curly-newline": "off"
  }
}
